.contact__container {
    display: grid;
    place-items: center;
}

.contact__wrapper {
    width: fit-content;
    display: flex;
    gap: 2rem;
    a {
        background: var(--color-primary);
        font-size: 2rem;
        border: 2px solid transparent;
        transition: var(--transition);
        padding: 1.5rem 2rem;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
        &:hover {
            background: transparent;
            border-color: var(--color-gray-100);
        }
    }
}


@media(max-width: 600.98px) {
    .contact__wrapper {
        gap: 1.5rem;
        a {
            padding: .75rem 1rem;
            font-size: 1.3rem;
            border-radius: 1rem;
        }
    }
}